.team-bg {
    height: 200px;
    color: white;
}

.textwhite {
    color: white;
}

.ourcolor {
    background: #f12241;
}

.marginbtm {
    margin-bottom: 15px;
}

.paddingtop1 {
    padding-top: 25%;
}

.paddingtop2 {
    padding-top: 5%;
}