/* -------------------------------------------------------------------------------------------------------------------------
  GENERAL SETTINGS
---------------------------------------------------------------------------------------------------------------------------- */
html {
  height: auto;
  width: 100vw;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Arial;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  color: #000;
}

p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: #000;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 3rem;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------
  HOME-BACKGROUND BILD
---------------------------------------------------------------------------------------------------------------------------- */
.home-background-container {
  background-image: url(../images/desktop_hd.png);
  background-size: cover;
  height: 100vh;
}

.background-header {
  color: #f12241;
  letter-spacing: 1rem;
  margin-top: 8rem;
  padding: 0 5rem;
  text-align: center;
}

.background-header-right,
.background-header-left {
  display: none;
}

@media only screen and (min-width: 992px) {
  .red-rectangle {
    background-color: #f12241;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
  }

  .background-header-left {
    color: #f12241;
    display: inline-block;
    margin-left: -30rem;
    font-size: 3.5rem;
    height: 100vh;
    line-height: 100vh;
  }

  .background-header-right {
    color: #fff;
    display: inline-block;
    margin-left: 2rem;
    font-size: 3.5rem;
  }

  .background-header {
    display: none;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------
  OUR CONCEPT
---------------------------------------------------------------------------------------------------------------------------- */
.concept-container {
  background-image: url(../images/concept-desktop.jpg);
  background-size: cover;
  height: 40rem;
  opacity: .8;
  margin-top: 1rem;
}

.concept-projects-about-container-inner {
  margin-top: 10%;
  background-color: transparent;
  height: 60vh;
  opacity: .8;
  padding: 4rem;
}

@media only screen and (min-width: 768px) {
  .concept-container {
    height: 100vh;
    opacity: 1;
  }

  .concept-projects-about-container-inner {
    background-color: #615F5F;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------
  OUR PROJECTS
---------------------------------------------------------------------------------------------------------------------------- */
.projects-container {
  background-image: url(../images/project_desktop.jpg);
  background-size: cover;
  height: 40rem;
  opacity: .8;
  margin-top: 1rem;
}

.all-buttons {
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-right: 3rem;
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .projects-container {
    height: 100vh;
    opacity: 1;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------
  OUR CLIENTS
---------------------------------------------------------------------------------------------------------------------------- */
.clients-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .clients-container {
    display: block;
    margin-top: 1rem;
    background-color: #fff;
    border: .1rem solid #c5c2c2;
    height: 100vh;
  }

  .clients-container-inner {
    margin-top: 10%;
    background-color: transparent;
    height: 60vh;
    display: block;
    text-align: center;
    padding: 4rem;
  }

  .clients-icon-center {
    display: inline-block;
    width: 25rem;
    height: 25rem;
  }
}
 






